{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- About city estate start -->
<div class="about-real-estate  content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="about-slider-box simple-slider">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'properties/img/properties/properties-1.jpg' %}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'properties/img/properties/properties-2.jpg' %}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'properties/img/properties/properties-3.jpg' %}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="slider-mover-left slider-btn-l" aria-hidden="true">
                                <i class="fa fa-angle-left"></i>
                            </span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="slider-mover-right slider-btn-r " aria-hidden="true">
                                 <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Welcome to Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero saepe corporis iusto, quae quas neque a maiores tenetur dolorum reiciendis!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, optio?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About city estate end -->

<!-- Helping sentar start -->
<div class="helping-sentar">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 align-self-center">
                <!-- Contact 1 start -->
                <div class="contact-2 pb-hediin-60">
                    <h5 class="clearfix">Always Support You</h5>
                    <h3 class="heading">How can we help</h3>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group name">
                                    <input type="text" name="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group email">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group subject">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group number">
                                    <input type="text" name="phone" class="form-control" placeholder="Number">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group message">
                                    <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="send-btn">
                                    <input type="submit" value="Send Message" class="btn btn-md button-theme text-white"></input>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact 1 end -->
            </div>
            <div class="offset-xl-1 col-xl-5 col-lg-6">
                <img src="{% static 'properties/img/avatar/avatar-10.png' %}" alt="avatar-10" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Helping sentar end -->

{% endblock %}