{% load static %}
<head>
    
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PTNPV7L');</script>


<title>Neer - Real Estate HTML Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'properties/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'properties/css/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'properties/css/bootstrap-submenu.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'properties/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'properties/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'properties/css/leaflet.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'properties/css/map.css' %}" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'properties/fonts/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'properties/fonts/flaticon/font/flaticon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'properties/fonts/linearicons/style.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'properties/css/jquery.mCustomScrollbar.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'properties/css/dropzone.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'properties/css/slick.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'properties/css/style.css' %}">
<link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'properties/css/skins/default.css' %}">


<link rel="shortcut icon" href="{% static 'properties/img/favicon.ico' %}" type="image/x-icon" >


<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">

<link rel="stylesheet" type="text/css" href="{% static 'properties/css/ie10-viewport-bug-workaround.css' %}">


<script  src="{% static 'properties/js/ie-emulation-modes-warning.js' %}"></script>

<style>
    .text-grey{
        color:#4d4d4d;
    }
</style>

</head>